@use "imports";
@use "./components/header";
@use "./sections/hero";
@use "./sections/details";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(252, 252, 252);
}

section {
  .container {
    display: flex;
    width: 100%;
    height: 100%;

  }
}
